<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.Windows.Data" switchName="SourceSwitch">
				<listeners>
					<add name="TextListener"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SourceSwitch" value="All"/>
		</switches>
		<sharedListeners>
			<add name="TextListener"
				 type="System.Diagnostics.TextWriterTraceListener"
				 initializeData="DebugTrace.txt"/>
		</sharedListeners>
		<trace autoflush="true" indentsize="4"/>
	</system.diagnostics>
</configuration>